.header
  .header__contents
    .header__contents__upper
      = link_to '/' do
        .header__contents__upper__logo
      .header__contents__upper__form
        = form_with url: fuzzy_search_products_path, local: true, method: :get do |form|
          = form.text_field :keyword, placeholder: "商品を検索する", class: "search-input"
          .header__contents__upper__form__submit-btn
            %label
              = form.submit "検索", class: "search-btn"
              .header__contents__upper__form__submit-btn__icon
    .header__contents__lower
      = render "top/others/header-menu"
      %ul.header__contents__lower__right-items
        -if user_signed_in?
          %li.header__contents__lower__right-items__signup
            = link_to accounts_path do
              マイページ       
        - else
          %li.header__contents__lower__right-items__login
            = link_to new_user_session_path do
              ログイン
          %li.header__contents__lower__right-items__signup
            = link_to new_user_registration_path do
              新規会員登録
              
