.wrapper
  - if flash[:notice]
    = flash[:notice]
  = render "top/others/header"
  = render "top/introduction/introduction-upper"
  = render "top/feature/feature-upper"
  = render "top/introduction/introduction-middle"
  = render "top/feature/feature-lower"
  = render "top/pickup/pickup-upper"
  = render "top/pickup/pickup-lower"
  = render "top/introduction/introduction-lower"
  = render "top/others/footer"
  = render "top/others/exhibition-btn"
