.wrapper
  = render "header"
  = render "first-contents"
  = render "second-contents"
  = render "third-contents"
  = render "fourth-contents"
  = render "fifth-contents"
  = render "sixth-contents"
  = render "seventh-contents"
  = render "footer"