.product-search
  .product-search__results
    - if @products.present?
      - @products.each do |product|
        .product-search__results__result
          .product-search__results__result__images
            = "商品#{product.id}の画像"
            - product.images.each do |image|
              = image_tag image.src.url, size: '100x100'
          .product-search__results__result__name
            = "商品#{product.id}の名前"
            = "#{product.name}"
          .product-search__results__result__explain
            = "商品#{product.id}の説明"
            = "#{product.explain}"
          .product-search__results__result__condition
            = "商品#{product.id}の状態"
            = "#{product.condition.name}"
          .product-search__results__result__burden
            配送料の負担
            = "#{product.costburden.name}"
          .product-search__results__result__region
            発送の地域
            = "#{product.shippingorigin.name}"
          .product-search__results__result__period
            発送までの日数
            = "#{product.shippingperiod.name}"
          .content__price
            販売価格
            = converting_to_jpy(product.price)
    - else
      .product-search__results__blank
        キーワードを含む商品はありませんでした
  = paginate(@products)
  = link_to root_path do
    .product-search__return-btn
      トップページへ戻る
