%nav.bread-crumbs
  %ul
    %li
      = link_to "/" do
        FURIMA
    %li
      = icon("fas", "angle-right")
    %li
      = link_to "#" do
        = @product.category.root.name
    %li
      = icon("fas", "angle-right")
    %li
      = link_to "#" do
        = @product.category.parent.name
    %li
      = icon("fas", "angle-right")
    %li
      = link_to "#" do
        = @product.category.name
