.content-main__related
  = link_to "#", class: "content-main__related__category" do
    = grandchild.parent.parent.name
  .content-main__related__products
    .content-main__related__products__product
      = link_to product_path(@product) do
        %figure.content-main__related__products__product__upper
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/13/a007.png", class: "content-main__related__products__product__upper-image"
        .content-main__related__products__product__lower
          %h3.content-main__related__products__product__lower__name
            サバ缶マン
          .content-main__related__products__product__lower__detail
            %ul
              %li
                30000円
              %li
                = icon("fas", "star")
                0
            %p
              (税込)

