#account-page.account-page
  .account-page__header
    %a{ href: '/', id: 'header__logo' }
      = image_tag 'material/logo/logo.png', alt: 'FURIMA', width: "200px"
    %nav.progress
      %ul.progress__bar
        %li.through#through
          会員情報
          .progress-status
          .progress-status_bar
        %li.address#address
          お届け先住所入力
          .progress-status
          .progress-status_bar
        %li.end#end
          完了
          .progress-status
  .account-page__inner
    .account-page__inner__wrapper
      .account-page__inner__wrapper__head
        %h1 会員情報入力
      .user-form
        = form_for(@user, url: user_registration_path) do |f|
          .user-form__field
            .user-form__field__label
              = f.label :ニックネーム
              %span.user-form__field__label__require 必須
            .user-form__field__input
              = f.text_field :nickname, autofocus: true, placeholder: "例）フリマ太郎"
              - if @user.errors.include?(:nickname)
                .alert__sign-up
                  = @user.errors.full_messages_for(:nickname).first
          .user-form__field
            .user-form__field__label
              = f.label :メールアドレス
              %span.user-form__field__label__require 必須
            .user-form__field__input
              = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
              - if @user.errors.include?(:email)
                .alert__sign-up
                  = @user.errors.full_messages_for(:email).first
          .user-form__field
            .user-form__field__label
              = f.label :パスワード
              %span.user-form__field__label__require 必須
            .user-form__field__input
              = f.password_field :password, autocomplete: "new-password", placeholder: "7文字以上の半角英数字"
              - if @user.errors.include?(:password)
                .alert__sign-up
                  = @user.errors.full_messages_for(:password).first
          .user-form__field
            .user-form__field__label
              = f.label :パスワード（確認）
              %span.user-form__field__label__require 必須
            .user-form__field__input
              = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "7文字以上の半角英数字"
              - if @user.errors.include?(:password_confirmation)
                .alert__sign-up
                  = @user.errors.full_messages_for(:password_confirmation).first
          %h2 本人確認
          %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。
          .user-form__field
            .user-form__field__label
              = f.label :お名前（全角）
              %span.user-form__field__label__require 必須
            .user-form__field__name
              .user-form__field__input
                = f.text_field :first_name, autofocus: true, placeholder: "例）降間"
                - if @user.errors.include?(:first_name)
                  .alert__sign-up
                    = @user.errors.full_messages_for(:first_name).first
                - if @user.errors.include?(:last_name)
                  .alert__sign-up
                    = @user.errors.full_messages_for(:last_name).first
              .user-form__field__input
                = f.text_field :last_name, autofocus: true, placeholder: "例）太郎"
          .user-form__field
            .user-form__field__label
              = f.label :お名前かな（全角）
              %span.user-form__field__label__require 必須
            .user-form__field__name
              .user-form__field__input
                = f.text_field :first_name_kana, autofocus: true, placeholder: "例）ふりま"
                - if @user.errors.include?(:first_name_kana)
                  .alert__sign-up
                    = @user.errors.full_messages_for(:first_name_kana).first
                - if @user.errors.include?(:last_name_kana)
                  .alert__sign-up
                    = @user.errors.full_messages_for(:last_name_kana).first
              .user-form__field__input
                = f.text_field :last_name_kana, autofocus: true, placeholder: "例）たろう"
          .user-form__field
            .user-form__field__label      
              = f.label :birthday,"生年月日"
              %span.user-form__field__label__require 必須
              -# %br/ 
            .user-form__field__input
              = raw sprintf(                     |
                f.date_select(                   |
                  :birthday,                     |
                  prompt:"--",                   |
                  use_month_numbers: true,       |
                  start_year: Time.now.year,     |
                  end_year: 1930,                |
                  date_separator: '%s'),         |
                '年 ', '月 ') + '日'              |
              - if @user.errors.include?(:birthday)
                .alert__sign-up
                  = @user.errors.full_messages_for(:birthday).first
              = icon 'fas', 'chevron-down',class:"user-form__field__input__icon1"
              = icon 'fas', 'chevron-down',class:"user-form__field__input__icon2"
              = icon 'fas', 'chevron-down',class:"user-form__field__input__icon3"
          .user-form__submit-btn
            = f.submit "次へ", class: 'btn'
  = render "devise/registrations/footer"
