%h2 商品送付先情報登録
= form_for @address do |f|
  = render "devise/shared/error_messages", resource: @address
  .field
    = f.label :first_name
    %br/
    = f.text_field :first_name, autofocus: true
  .field
    = f.label :last_name
    %br/
    = f.text_field :last_name, autofocus: true
  .field
    = f.label :first_name_kana
    %br/
    = f.text_field :first_name_kana, autofocus: true
  .field
    = f.label :last_name_kana
    %br/
    = f.text_field :last_name_kana, autofocus: true
  .field
    = f.label :zipcode
    %br/
    = f.text_field :zipcode, autofocus: true
  .field
    = f.label :prefecture
    %br/
    = f.select :prefecture, Address.prefectures.keys, {}
  .field
    = f.label :municipalitie
    %br/
    = f.text_field :municipalitie, autofocus: true
  .field
    = f.label :address
    %br/
    = f.text_field :address, autofocus: true
  .field
    = f.label :address_other
    %br/
    = f.text_field :address_other, autofocus: true
  .field
    = f.label :tell
    %br/
    = f.text_field :tell, autofocus: true
  .actions
    = f.submit "sign up"
= render "devise/shared/links"
