.product-footer__terms
  %ul.product-footer__terms__items
    = link_to '#' do
      %li.product-footer__terms__items__item<
        プライバシーポリシー
    = link_to '#' do
      %li.product-footer__terms__items__item<
        FURIMA利用規約
    = link_to '#' do
      %li.product-footer__terms__items__item<
        特定商取引に関する表記
= link_to root_path do
  .product-footer__logo
    = image_tag "material/logo/logo.png", width: "200px", alt: "FURIMA"
.product-footer__copyright<
  &copy; FURIMA
