%br

- if @product.errors.include?(:brand)
  .alert__sign-up
    = @product.errors.full_messages_for(:brand)
- else
  -# nop

.contents__product__details__brand
  = f.label "ブランド"
  %span.optional 任意
  %br
  = f.collection_select :brand_id, @brands, :id, :name, { prompt: "未選択" }
  %br
  %br
  = link_to new_brand_path do
    .contents__product__details__brand__add-btn
      他のブランドを登録する

%br

- if @product.errors.include?(:condition_id)
  .alert__sign-up
    = @product.errors.full_messages_for(:condition_id)
- else
  -# nop

.contents__product__details__condition
  = f.label '商品の状態'
  %span.require 必須
  %br
  = f.collection_select :condition_id, Condition.all, :id, :name
  %br
