.pickup-lower
  %h2.pickup-lower__title
    ピックアップブランド
  .pickup-lower__products
    .pickup-lower__products__caption
      アーカイバ
    .pickup-lower__products__lists
      .pickup-lower__products__lists__list-first
        = link_to '#' do
          .pickup-lower__products__lists__list-first__image
          .pickup-lower__products__lists__list-first__contents
            %h3.pickup-lower__products__lists__list-first__contents__name
              ee
            .pickup-lower__products__lists__list-first__contents__details
              %ul
                %li
                  1000円
                %li
                  = icon('fas','star')
                  0
              %p
                (税込)
      .pickup-lower__products__lists__list-second
        = link_to '#' do
          .pickup-lower__products__lists__list-second__image
          .pickup-lower__products__lists__list-second__contents
            %h3.pickup-lower__products__lists__list-second__contents__name
              product3
            .pickup-lower__products__lists__list-second__contents__details
              %ul
                %li
                  30000円
                %li
                  = icon('fas','star')
                  0
              %p
                (税込)
      .pickup-lower__products__lists__list-third
        = link_to '#' do
          .pickup-lower__products__lists__list-third__image
          .pickup-lower__products__lists__list-third__contents
            %h3.pickup-lower__products__lists__list-third__contents__name
              product2
            .pickup-lower__products__lists__list-third__contents__details
              %ul
                %li
                  20000円
                %li
                  = icon('fas','star')
                  0
              %p
                (税込)
      .pickup-lower__products__lists__list-fourth
        = link_to '#' do
          .pickup-lower__products__lists__list-fourth__image
          .pickup-lower__products__lists__list-fourth__contents
            %h3.pickup-lower__products__lists__list-fourth__contents__name
              product1
            .pickup-lower__products__lists__list-fourth__contents__details
              %ul
                %li
                  10000円
                %li
                  = icon('fas','star')
                  1
              %p
                (税込)