.pickup-lower
  %h2.pickup-lower__title
    ピックアップブランド
  .pickup-lower__products
    .pickup-lower__products__caption
      アーカイバ
    .pickup-lower__products__lists
      .pickup-lower__products__lists__list
        = link_to '#' do
          #first.pickup-lower__products__lists__list__image
          .pickup-lower__products__lists__list__contents
            %h3.pickup-lower__products__lists__list__contents__name
              ee
            .pickup-lower__products__lists__list__contents__details
              %ul
                %li
                  1000円
                %li
                  = icon('fas','star')
                  0
              %p
                (税込)
      .pickup-lower__products__lists__list
        = link_to '#' do
          #second.pickup-lower__products__lists__list__image
          .pickup-lower__products__lists__list__contents
            %h3.pickup-lower__products__lists__list__contents__name
              product3
            .pickup-lower__products__lists__list__contents__details
              %ul
                %li
                  30000円
                %li
                  = icon('fas','star')
                  0
              %p
                (税込)
      .pickup-lower__products__lists__list
        = link_to '#' do
          #third.pickup-lower__products__lists__list__image
          .pickup-lower__products__lists__list__contents
            %h3.pickup-lower__products__lists__list__contents__name
              product2
            .pickup-lower__products__lists__list__contents__details
              %ul
                %li
                  20000円
                %li
                  = icon('fas','star')
                  0
              %p
                (税込)
      .pickup-lower__products__lists__list
        = link_to '#' do
          #fourth.pickup-lower__products__lists__list__image
          .pickup-lower__products__lists__list__contents
            %h3.pickup-lower__products__lists__list__contents__name
              product1
            .pickup-lower__products__lists__list__contents__details
              %ul
                %li
                  10000円
                %li
                  = icon('fas','star')
                  1
              %p
                (税込)