.pickup-upper
  %h2.pickup-upper__title
    ピックアップカテゴリー
  .pickup-upper__products
    .pickup-upper__products__caption
      新規投稿商品
    .pickup-upper__products__lists
      .pickup-upper__products__lists__list
        = link_to '#' do
          #first.pickup-upper__products__lists__list__image
          .pickup-upper__products__lists__list__contents
            %h3.pickup-upper__products__lists__list__contents__name
              ee
            .pickup-upper__products__lists__list__contents__details
              %ul
                %li
                  1000円
                %li
                  = icon('fas','star')
                  0
              %p
                (税込)
      .pickup-upper__products__lists__list
        = link_to '#' do
          #second.pickup-upper__products__lists__list__image
          .pickup-upper__products__lists__list__contents
            %h3.pickup-upper__products__lists__list__contents__name
              product3
            .pickup-upper__products__lists__list__contents__details
              %ul
                %li
                  30000円
                %li
                  = icon('fas','star')
                  0
              %p
                (税込)
      .pickup-upper__products__lists__list
        = link_to '#' do
          #third.pickup-upper__products__lists__list__image
          .pickup-upper__products__lists__list__contents
            %h3.pickup-upper__products__lists__list__contents__name
              product2
            .pickup-upper__products__lists__list__contents__details
              %ul
                %li
                  20000円
                %li
                  = icon('fas','star')
                  0
              %p
                (税込)
      .pickup-upper__products__lists__list
        = link_to '#' do
          #fourth.pickup-upper__products__lists__list__image
          .pickup-upper__products__lists__list__contents
            %h3.pickup-upper__products__lists__list__contents__name
              product1
            .pickup-upper__products__lists__list__contents__details
              %ul
                %li
                  10000円
                %li
                  = icon('fas','star')
                  1
              %p
                (税込)
  