.wrapper
  = render "top/others/header"
  - breadcrumb :creditcard
  = render "layouts/breadcrumbs"
  .user__mypage
    = render 'accounts/sidebar'
    .user__mypage__config
      .user__mypage__config__header
        支払い方法
      .user__mypage__config__main
        .user__mypage__config__main__creditcard
          %h3.user__mypage__config__main__creditcard__text
            クレジットカード一覧
          =link_to "クレジットカードを登録する", new_creditcard_path, data: {"turbolinks" => false}, class: "user__mypage__config__main__btn"
        
  = render "top/introduction/introduction-lower"
  = render "top/others/footer"
  = render "top/others/exhibition-btn"
