.wrapper
  = render "top/others/header"
  - breadcrumb :creditcard
  = render "layouts/breadcrumbs"
  .user__mypage
    = render 'accounts/sidebar'
    .user__mypage__config
      .user__mypage__config__header
        支払い方法
      .user__mypage__config__main
        .user__mypage__config__main__creditcard
          %h3.user__mypage__config__main__creditcard__text
            クレジットカード一覧
          .user__mypage__config__main__creditcard__list
            .user__mypage__config__main__creditcard__list__icon
              = image_tag "material/cards/#{@card_src}", class: "user__mypage__config__main__creditcard__list__icon__img", alt: @card_brand
            .user__mypage__config__main__creditcard__list__number
              = "**** **** **** " + @customer_card.last4
            .user__mypage__config__main__creditcard__list__details
              = @exp_month + " / " + @exp_year
            .user__mypage__config__main__creditcard__btn
              =link_to "編集", "#", class: "user__mypage__config__main__creditcard__btn__edit"
              =link_to "削除", delete_creditcards_path, method: :delete, class: "user__mypage__config__main__creditcard__btn__delete"
  = render "top/introduction/introduction-lower"
  = render "top/others/footer"
  = render "top/others/exhibition-btn"
