.confimation-page

  .confimation__header
    = link_to '/' do
      .confimation__header--icon

  .confimation__main
    %section.confimation__main--topmost
      %h2 購入内容の確認

    %section.confimation__main--image
      .item-images
        .item-imag
          = image_tag src="/assets/material/icon/icon-01.png", size: "80x80"
        .item-name
          %p.item-names Tシャツ
          %p.item-price
            %span.postage  送料込み (税込)
            %span.price   ￥500円

    %section.confimation__main--payment
      .item-payment
        %span.item-payment-amount 支払い金額
        %span.item-payments ￥500
      .item-point
        =check_box_tag :check1
        %span.image
          = image_tag src="/assets/material/logo/logo_new.png", size: "18x18" 
        =label_tag :check1, "ポイント"  
        %p.possession-point 所持ポイント : P0

    %section.confimation__main--method
      .item-method
        .item-methods
          %h3 支払い方法
      -# link_toでエラになる為代わりに一時的にaタグ
      %a.item-register(href="#")
        %span.item-registers 登録して下さい

    %section.confimation__main--delivery
      .item-delivery
        %h3.delibers 配送先
        -# link_toでエラになる為代わりに一時的にaタグ
        %a.item-change(href="#") 変更する
      .item-address
        %p 〒xxx-xxx
        %p 神奈川県 川崎市
        %p 川崎 太郎


    %section.confimation__main--purchase
      .item-purchase
        %p.explanation 郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
        %p.input-confirmation 支払い方法の入力を完了してください。
      -# link_toでエラになる為代わりに一時的ににaタグ
      %a.item-btn(href="#") 購入する

    .footer-contents
      %ul.footer-contents__items
        %li.footer-contents__items__left
          = "プライバシーポリシー"
        %br
        %li.footer-contents__items__center
          = "FURIMA利用規約"
        %br
        %li.footer-contents__items__right
          = "特定商取引に関する表記"
        %br

    = link_to root_path do
      .furima-logo
        = image_tag src="material/logo/logo.png", size: "135x35"

      %br
      %p.footer-contents__copyright
        &copy; FURIMA
