-# エラー

- if flash[:notice]
  .notice
    = flash[:notice]
- else
  -# nop

- if @brand.errors.any?
  .alert
    %ul
      - @brand.errors.full_messages.each do |message|
        %li
          = message
- else
  -# nop

.wrapper
  .content
    = form_with model: @brand, local: true do |f|
      .content__brand-name
        = f.label 'ブランド名(必須 40文字以内)'
        %br
        = f.text_field :name, placeholder: "40文字以内"
        %br
      .content__submit-btn
        = f.submit 'ブランドを追加する'
        %br
    = link_to root_path do
      .content__return-btn
        = "トップページへ戻る"
