.wrapper
  .content
    = form_with model: @brand, local: true do |f|

      - if @brand.errors.include?(:name)
        .alert__sign-up
          = @brand.errors.full_messages_for(:name)
      - else
        -# nop

      .content__brand-name
        = f.label 'ブランド名'
        %span.must
          = "(必須)"
        %br
        = f.text_field :name, placeholder: "40文字以内"
        %br

      .content__submit-btn
        = f.submit 'ブランドを追加する'
        %br

    = link_to root_path do
      .content__return-btn
        = "トップページへ戻る"
