= f.label '出品画像'
%span.require 必須
%br
#image-box
  #previews
    プレビュー(最大5枚までアップロードできます)

    %br

    - if @product.persisted?
      - @product.images.each_with_index do |image, i|
        - if image.src.url.present?
          %label
            = "画像#{i}"
            = image_tag image.src.url, data: { index: i }, size: '100x100'
        - else
          -# nop
    - else
      -# nop

  %hr

  - if @product.errors.include?(:images)
    .alert__sign-up
      = @product.errors.full_messages_for(:images)
  - else
    -# nop

  = f.fields_for :images do |image|
    .js-file_group{ data: { index: image.index } }
      .image-index<
        = "画像#{image.index}"
      .js-file
        = image.file_field :src
      .js-remove<
        削除
      - if @product.persisted?
        = image.check_box :_destroy, data: { index: image.index }, class: 'hidden-destroy'
      - else
        -# nop
