.content
  .content__images
    画像
    %br
    - product.images.each do |image|
      = image_tag image.src.url
  
  .content__name
    商品名
    %br
    #{product.name}

  .content__explain
    商品の説明
    %br
    #{product.explain}

  .content__condition
    商品の状態
    %br
    #{product.condition.name}

  .content__burden
    配送料の負担
    %br
    #{product.costburden.name}

  .content__region
    発送の地域
    %br
    #{product.shippingorigin.name}

  .content__period
    発送までの日数
    %br
    #{product.shippingperiod.name}

  .content__price
    販売価格
    %br
    #{product.price}
    円

  = link_to edit_product_path(product) do
    .content__edit-btn
      編集

  = link_to product_path(product), method: :delete do
    .content__delete-btn
      削除
