-# 変数

- line = "------------------------------"

.content
  -# 編集削除ボタン
  %p
    = "#{line}"

  = link_to edit_product_path(product) do
    .content__edit-btn
      = "編集"

  = link_to product_path(product), method: :delete do
    .content__delete-btn
      = "削除"

  %p
    = "#{line}"

  -# 画像
  .content__images
    = "商品画像"
    %br
    - product.images.each do |image|
      - if image.src.url
        = image_tag image.src.url, size: '100x100'
      - else
        %p
          = image.src.url

  %p
    = "#{line}"

  -# 商品
  
  .content__name
    = "商品名"
    %br
    = "#{product.name}"

  .content__explain
    = "商品の説明"
    %br
    = "#{product.explain}"

  %p
    = "#{line}"

  -# 詳細

  .content__condition
    = "商品の状態"
    %br
    = "#{product.condition.name}"

  %p
    = "#{line}"

  -# 配送

  .content__burden
    = "配送料の負担"
    %br
    = "#{product.costburden.name}"

  .content__region
    = "発送の地域"
    %br
    = "#{product.shippingorigin.name}"

  .content__period
    = "発送までの日数"
    %br
    = "#{product.shippingperiod.name}"

  %p
    = "#{line}"

  -# 価格

  .content__price
    = "販売価格"
    %br
    = "#{product.price}円"

  %p
    = "#{line}"
