.detailed-search
  = render "top/others/header"
  - breadcrumb :detailed_search
  = render "layouts/breadcrumbs"
  .detailed-search__contents
    .detailed-search__contents__forms
      = render "products/partials/search-form"
    .detailed-search__contents__results
      = render "products/partials/search-result"
  = render "top/introduction/introduction-lower"
  = render "top/others/footer"
  = render "top/others/exhibition-btn"
