.purchase-page

  .purchase__header
    = link_to '/' do
      .purchase__header__icon

  .purchase__main
    %section.purchase__main__topmost
      %h2 購入内容の確認

    %section.purchase__main__image
      .purchase__main__image__items
        .purchase__main__image__items__image
          = image_tag @product.images[0].src.url, size: '100x93'
        
        .purchase__main__image__items__name
          %span 商品名
          = @product.name

    %section.purchase__main__payment
      .item-payment
        .item-payment__amount
          %h3 支払い金額
        %span.item-payment__price 
          = converting_to_jpy(@product.price)
        %span.item-names__price--postage
          - if @product.costburden_id == 1
            送料込み(出品者負担、税込)
          - elsif @product.costburden_id == 2
            着払い(購入者負担、税込み)
          - else
            送料込み(出品者負担、税込)

      .item-point
        .item-point__check-box
          =check_box_tag :check1
          = image_tag ("material/logo/logo_new.png"), class: 'image-point'
          =label_tag :check1, "ポイントを利用する"
        %p.item-point__possession 所持ポイント : P0

    %section.purchase__main__method
      .item-methods
        .item-methods__payment
          %h3 クレジットカード登録状況
          - if @card.blank?
            = link_to new_creditcard_path, class: "item-link" do
              %span.item-methods__payment__registers クレジットカードを登録して下さい
          - else
            %span.item-methods__payment__completion クレジットカード登録済み

    %section.purchase__main__delivery
      .delivery
        %h3.delivery__address 配送先
        = link_to edit_address_path(current_user.id), class: "delivery__change" do
          変更する

      .item-address
        = @address.zipcode 
        = @address.prefecture 
        %br
        = @address.city
        = @address.address
        %br
        = @address.first_name
        = @address.last_name

    %section.purchase__main__purchase
      - if @card.blank?
        %p.purchase__main__purchase__confirmation クレジットカードの入力を完了してください。
      - else
        = link_to pay_product_path, method: :post do
          .purchase__main__purchase__btn
            購入する

    .footer-contents
      %ul.footer-contents__items
        %li.footer-contents__items__left
          = "プライバシーポリシー"
        %li.footer-contents__items__center
          = "FURIMA利用規約"
        %li.footer-contents__items__right
          = "特定商取引に関する表記"

    = link_to root_path do
      .furima-logo
        = image_tag src="material/logo/logo.png", size: "135x35"

      %br
    %p.footer-contents__copyright
      &copy; FURIMA
