.PurchasePage

  .Purchase__header
    = link_to '/' do
      .Purchase__header__icon

  .Purchase__main
    %section.Purchase__main__topmost
      %h2 購入内容の確認

    %section.Purchase__main__image
      .item-images
        .item-imag__tag
          = image_tag src="/assets/material/icon/icon-01.png", size: "80x80"
        .item-names
          %p.item-names__tag Tシャツ
          %p.item-names__price
            %span.item-names__price.item-names__price--postage  送料込み (税込)
            %span.item-names__price.item-names__price--cost   ￥500

    %section.purchase__main__payment
      .item-payment
        %span.item-payment__amount 支払い金額
        %span.item-payment__price ￥500
      .item-point
        =check_box_tag :check1
        %span.image
          = image_tag src="/assets/material/logo/logo_new.png", size: "18x18" 
        =label_tag :check1, "ポイント"  
        %p.item-point__possession 所持ポイント : P0

    %section.purchase__main__method
      .item-methods
        .item-methods__payment
          %h3 支払い方法
      
      = link_to '#', class: "item-link" do
        %span.item-link__registers 登録して下さい

    %section.purchase__main__delivery
      .delivery
        %h3.delivery__address 配送先
        = link_to '#', class: "delivery__change" do
          変更する

      .item-address
        %p 〒xxx-xxx
        %p 神奈川県 川崎市
        %p 川崎 太郎


    %section.purchase__main--purchase
      .item-purchase
        %p.explanation 郵便局/コンビニ受取をご希望の方は、購入後に取引画面から受取場所を変更をすることが可能です。出品者が発送作業を開始した後は受取場所の変更ができませんので、早めに変更を行ってください。
        %p.input-confirmation 支払い方法の入力を完了してください。
      = form_with model: @product, local: true do |f|
        = f.hidden_field :buyer_id, value: current_user.id
        .item-btn
          = f.submit '購入する',class: 'input-item'

    .footer-contents
      %ul.footer-contents__items
        %li.footer-contents__items__left
          = "プライバシーポリシー"
        %li.footer-contents__items__center
          = "FURIMA利用規約"
        %li.footer-contents__items__right
          = "特定商取引に関する表記"

    = link_to root_path do
      .furima-logo
        = image_tag src="material/logo/logo.png", size: "135x35"

      %br
    %p.footer-contents__copyright
      &copy; FURIMA
