.wrapper
  = render "top/others/header"
  - breadcrumb :product_show
  = render "layouts/breadcrumbs"
  .container 
    - if user_signed_in?
      = render "products/show/show_main_login"
    - else
      = render "products/show/show_main_logout"
  = render "top/introduction/introduction-lower"
  = render "top/others/footer"
  = render "top/others/exhibition-btn"
