.wrapper
  = render "top/others/header"
  -# ここにパンクズ？（追加実装）
  .container 
    = render "products/show/show_main", product: @product
  = render "top/introduction/introduction-lower"
  = render "top/others/footer"
  = render "top/others/exhibition-btn"
