.wrapper
  = render "top/others/header"
  -# ここにパンクズ？（追加実装）
  = render "products/show/show_main"
  = render "top/introduction/introduction-lower"
  = render "top/others/footer"
  = render "top/others/exhibition-btn"