.user__mypage__main
  .user__mypage__main__icon
    .user__mypage__main__icon__image
      = link_to account_path(@profile[:id]), id: "user__mypage" do
        .user__mypage__main__icon__image__photo
          - if @profile.icon_image?
            = image_tag @profile.icon_image.url,:size =>'60x60', class: "picture"
          - else
            = image_tag 'material/icon/member_photo_noimage_thumb.png',:size =>'60x60'
        .user__mypage__main__icon__image__name
          = current_user.nickname
    .user__mypage__main__icon__background__image
      - if @profile.background_image?
        = image_tag @profile.background_image.url, :size =>'700x200'
      - else
        = image_tag ('material/pict/user_mypage_test.JPG')
  .user__mypage__main__buy
  %h2.user__mypage__main__buy__product
    購入した商品
  .user__mypage__main__buy__list 
    .user__mypage__main__buy__list__item.active
      出品した商品
    .user__mypage__main__buy__list__item
      購入した商品
  .user__mypage__main__buy__items.show
    - @products.each do |product|
      = link_to product_path(product[:id]), class: "user__mypage__main__buy__item" do
        .user__mypage__main__buy__item__image
          = image_tag product.images[0].src.url, :size =>'220x150'
          .user__mypage__main__buy__item__name
            = product.name
          .user__mypage__main__buy__item__price
            = converting_to_jpy(product.price)
          - if product.buyer_id.present?
            .user__mypage__main__buy__item__image__sold
              .user__mypage__main__buy__item__image__sold-inner
                SOLD
  .user__mypage__main__buy__items
    - @products_buy.each do |product|
      = link_to product_path(product[:id]), class: "user__mypage__main__buy__item" do
        .user__mypage__main__buy__item__image
          = image_tag product.images[0].src.url, :size =>'220x150'
          .user__mypage__main__buy__item__name
            = product.name
          .user__mypage__main__buy__item__price
            = converting_to_jpy(product.price)
          - if product.buyer_id.present?
            .user__mypage__main__buy__item__image__sold
              .user__mypage__main__buy__item__image__sold-inner
                SOLD
