.user__mypage__sidebar
  .user__mypage__sidebar__list
    = link_to "マイページ", accounts_path, class: "user__mypage__sidebar__list__item"
    = link_to "いいね！一覧", likes_accounts_path, class: "user__mypage__sidebar__list__item"
    = link_to "出品する", new_product_path, class: "user__mypage__sidebar__list__item"
    = link_to "ニュース一覧", "#", class: "user__mypage__sidebar__list__item"
    = link_to "評価一覧", "#", class: "user__mypage__sidebar__list__item"
    = link_to "お問い合わせ", "#", class: "user__mypage__sidebar__list__item"
    %h3.user__mypage__sidebar__config 
      設定
    .user__mypage__sidebar__list
    = link_to "プロフィール", "#", class: "user__mypage__sidebar__list__item"
    = link_to "発送元・お届け先住所変更", "#", class: "user__mypage__sidebar__list__item"
    = link_to "支払い方法", creditcards_path, class: "user__mypage__sidebar__list__item"
    = link_to "メール/パスワード", "#", class: "user__mypage__sidebar__list__item"
    = link_to "本人情報", "#", class: "user__mypage__sidebar__list__item"
    = link_to "電話番号の確認", "#", class: "user__mypage__sidebar__list__item"
    = link_to "ログアウト", logout_accounts_path, class: "user__mypage__sidebar__list__item"
