.wrapper
  = render "top/others/header"
  .user__mypage
    = render "sidebar"
    = render "main"
  = render "top/introduction/introduction-lower"
  = render "top/others/footer"
  = render "top/others/exhibition-btn"
