.wrapper
  = render "top/others/header"
  - breadcrumb :logout
  = render "layouts/breadcrumbs"
  .user__mypage
    = render "sidebar"
    .user__mypage__config__main
      =link_to "ログアウト", destroy_user_session_path, method: :delete, class: "user__mypage__config__main__btn"
        
  = render "top/introduction/introduction-lower"
  = render "top/others/footer"
  = render "top/others/exhibition-btn"
