.wrapper
  = render "top/others/header"
  .user__mypage
    .user__mypage__contents
      .user__mypage__contents__icon
        .user__mypage__contents__icon__image
          = link_to "/accounts/#{current_user.id}", id: "user__mypage" do
            .user__mypage__contents__icon__image__photo
              = image_tag @profile.icon_image.url,:size =>'120x120', class: "picture" if @profile.icon_image?
            .user__mypage__contents__icon__image__name
              = current_user.nickname
        .user__mypage__contents__icon__background__image
          = image_tag @profile.background_image.thumb.url if @profile.background_image?
      .user__mypage__profile
        = simple_format @profile.profile
    
  = render "top/introduction/introduction-lower"
  = render "top/others/footer"
  = render "top/others/exhibition-btn"
